<li>
	{{burger_name}}

	<button class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Put back{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger btn btn-outline-danger" data-id="{{this.id}}">x</button>

</li>